<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MonthMoney</key>
	<array>
		<dict>
			<key>label</key>
			<string>1月</string>
			<key>value</key>
			<string>150</string>
		</dict>
		<dict>
			<key>label</key>
			<string>2月</string>
			<key>value</key>
			<string>80</string>
		</dict>
		<dict>
			<key>label</key>
			<string>3月</string>
			<key>value</key>
			<string>120</string>
		</dict>
		<dict>
			<key>label</key>
			<string>4月</string>
			<key>value</key>
			<string>180</string>
		</dict>
		<dict>
			<key>label</key>
			<string>5月</string>
			<key>value</key>
			<string>60</string>
		</dict>
		<dict>
			<key>label</key>
			<string>6月</string>
			<key>value</key>
			<string>30</string>
		</dict>
	</array>
	<key>WeekData</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>Devices</key>
	<array>
		<dict>
			<key>image</key>
			<string>Camera.png</string>
			<key>name</key>
			<string>客厅监控</string>
			<key>location</key>
			<string>客厅</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>2.png</string>
			<key>name</key>
			<string>厨房灯</string>
			<key>location</key>
			<string>厨房</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>3.png</string>
			<key>name</key>
			<string>卫生间照明灯</string>
			<key>location</key>
			<string>卫生间</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>4.png</string>
			<key>name</key>
			<string>书房灯</string>
			<key>location</key>
			<string>书房</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>5.png</string>
			<key>name</key>
			<string>主卧灯</string>
			<key>location</key>
			<string>主卧</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>6.png</string>
			<key>name</key>
			<string>走廊声控</string>
			<key>location</key>
			<string>走廊</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>7.png</string>
			<key>name</key>
			<string>厨房插座</string>
			<key>location</key>
			<string>厨房</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>8.png</string>
			<key>name</key>
			<string>电饭锅</string>
			<key>location</key>
			<string>厨房</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>9.png</string>
			<key>name</key>
			<string>加湿器</string>
			<key>location</key>
			<string>主卧</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>10.png</string>
			<key>name</key>
			<string>电视机</string>
			<key>location</key>
			<string>客厅</string>
			<key>status</key>
			<string>0</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>11.png</string>
			<key>name</key>
			<string>空调</string>
			<key>location</key>
			<string>客厅</string>
			<key>status</key>
			<string>1</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>12.png</string>
			<key>name</key>
			<string>微波炉</string>
			<key>location</key>
			<string>厨房</string>
			<key>status</key>
			<string>1</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
		<dict>
			<key>image</key>
			<string>13.png</string>
			<key>name</key>
			<string>电水壶</string>
			<key>location</key>
			<string>厨房</string>
			<key>status</key>
			<string>1</string>
			<key>starttime</key>
			<string>2014/06/30</string>
			<key>activetime</key>
			<string>120H</string>
			<key>totalpower</key>
			<string>60.00KWH</string>
			<key>totalmoney</key>
			<string>30.00元</string>
		</dict>
	</array>
	<key>DayData</key>
	<array/>
</dict>
</plist>
